html,body{
    margin: 0px;
    width: 100%;
    height:100%;
    margin: auto;
    border: 0px;
    padding:0px;

    display: flex;
    align-items: center;
    z-index:-7;
}

#canvas{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -4;
}

.bg{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    z-index:-6;
}

.name{
    background-color:transparent;
    color:white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 60px;
    font-weight: bold;

    position:fixed;

    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index:-5;
    top:5%;
}

.profilespace{
    position: relative;
    width: 100%;
    height: 20%;
    z-index: -4;
    top:-10%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.profile{
    position: relative;
    width:10%;
    border-radius: 50%;
    /* box-shadow: -1px -2px rgba(255, 255, 255, 0.7); */
}

.buttonarea{
    width: 40%;
    height: 25%;
    display: flex;
    flex-direction: row;
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index:-2;
}

#leftbuttons{
    left: 0%;
}
#rightbuttons{
    left:60%;
}
.buttons{
    background-color:transparent;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size:40px;
    color:white;
    position:relative;

    display: flex;
    align-items: center;

    height:50%;
    border-radius: 20%;
    border-color: #4285F4;
}
.buttons:hover{
    color:rgb(235, 216, 255);
    background-color:blueviolet;
    cursor: pointer;
}

.socialspace{
    width:100%;
    height:25%;
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index:-3;
    top:50%;
    border:none;
}

.social{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index:-2;
    border:none;
}

.iconspace{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 33%;    
    border:none;
    top:5%;
}

.icon{
    transform: scale(2.5, 2.5);
}
.icon:hover {
    transform: scale(3,3);
    cursor: pointer;
}

#github{
    color:black;
}
#instagram{
    color:black;
}
#linkedin{
    color:black;
}

.skillspace{
    position: fixed;
    width:100%;
    height:10%;
    top:87%;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
    z-index:-5;
    border:none;
}

.skill{
    margin: 1%;
    width:10%;
    height:100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    border-radius: 10%;
    background-color:rgb(255,255,255,0.2);
    box-shadow:3px 3px thistle;

    text-decoration: none;
}
.skill:hover{
    box-shadow: 2px 2px rgb(155, 137, 155);
}
.skillicon{
    position: relative;
    width:30%;
}
.skillname{
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:orange;
    width:60%;
    font-size: 180%;
    text-shadow: 3px 3px black;  
}
#cicon{
    width:30%;
}
#cname{
    font-size: 180%;
    width:55%;   
    padding-left: 3%;
}
#sfmlicon{
    width:25%;
}
#sfmlname{
    width:50%;
    margin-left:5%;
}
#oglicon{
    width: 80%;
}
#wglicon{
    width:75%;
}
#cubeskill{
    width:15%;
}
#cubeicon{
    width:15%;
    left:3%;
}
#cubename{
    width:80%;
    left:4%;
}